{% extends 'userinterfacedesign/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div>
<div id="viewmail" class="tab-pane fade in animated zoomInDown shadow-reset custom-inbox-message">
  <div class="view-mail-wrap ">
    <div class="mail-title">
      <h2 class='text-center'>Product Details</h2>
      <div class="view-mail-action">
        <a href="#"><i class="fa "></i> Cancel</a>
        <a class="compose-draft-bt" href="{% url 'inventory:products_update' pk=products.pk %}"><i class="fa "></i> Edit</a>
        <a class="compose-discard-bt" href="{% url 'inventory:products_delete' pk=products.pk %}"><i class="fa fa-trash-o"></i> Delete</a>
      </div>
    </div>

    <p> {{product.name}} <p>
    <p> Selling Price: {{products.selling_price}}</p>
    <p> Cost Price: {{products.cost_price}}</p>
    <p> Quantity: {{products.quantity}}</p>
    <p> Quantity Available: {{products.quantity_available}}</p>
    <p> Unit Measure: {{products.unit_measure}}</p>
    <p> Reorder Level: {{products.reoder_level}}</p>
    <p> Category: {{products.category}}</p>

    <p> Pallet: {{products.pallet}}



      {% endif %}
</div>
</div>
</div>

      {% endblock content %}