{% load static %}
<head>
     <meta charset="utf-8">
     <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title>Asyana System</title>
     <meta name="description" content="Asyana System Authentication">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     <!------ Include the above in your HEAD tag ---------->
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/bootstrap/css/bootstrap.min.css' %} ">
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="{% static 'auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/animate/animate.css' %} ">
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/css-hamburgers/hamburgers.min.css' %} ">
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/select2/select2.min.css' %} ">
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="{% static 'auth/css/util.css' %} ">
     <link rel="stylesheet" type="text/css" href="{% static 'auth/css/main.css' %} ">
     <link rel="stylesheet" type="text/css" href="{% static 'auth/css/more.css' %} ">
     <link rel="stylesheet" type="text/css" href="{% static 'karumba/css/style.css' %} ">

</head>