{% extends 'supplier/base.html' %}
{% load static %}
{% block content %}
<div class="row mt-5">
    <div class="row justify-content-center col-12 py-5">
        <div class="card px-0 col-10 col-md-8 col-lg-5">
            <div class="card-header">{{ tender.title }}</div>
            <div class="card-body">
                <div class="row col-12  p-2" style="border:none; border-bottom:1px solid rgb(200,200,200);">
                    <div class="col-6">Product</div><div class="col-6 text-right"> {{ tender.product }}</div>
                </div>
                <div class="row col-12  p-2" style="border:none; border-bottom:1px solid rgb(200,200,200);">
                    <div class="col-6">Quantity</div><div class="col-6 text-right"> {{ tender.quantity }}</div>
                </div>
                <div class="row col-12  p-2" style="border:none; border-bottom:1px solid rgb(200,200,200);">
                    <div class="col-6">Tender opened</div><div class="col-6 text-right"> {{ tender.opened_on }}</div>
                </div>
                <div class="row col-12  p-2" style="border:none; border-bottom:1px solid rgb(200,200,200);">
                    <div class="col-6">Application deadline</div><div class="col-6 text-right"> {{ tender.application_deadline }}</div>
                </div>
                <div class="row col-12  pt-3">
                    <div class="col-6">Requirements</div><div class="col-6 text-right"> {{ tender.requirements }}</div>
                </div>
                <div class="row col-12  pt-3">
                    <form method="post" action="{% url 'supplier:tender_detail_n_apply' tender.id %}">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div data-role="dynamic-fields">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label class="sr-only" for="field-name">Field Name</label>
                                                <input type="text" class="form-control" id="field-name" placeholder="Field Name">
                                            </div>
                                            <span>-</span>
                                            <div class="form-group">
                                                <label class="sr-only" for="field-value">Field Value</label>
                                                <input type="text" class="form-control" id="field-value" placeholder="Field Value">
                                            </div>
                                            <button class="btn btn-danger" data-role="remove">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <button class="btn btn-primary" data-role="add">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>  <!-- /div.form-inline -->
                                    </div>  <!-- /div[data-role="dynamic-fields"] -->
                                </div>  <!-- /div.col-md-12 -->
                            </div>  <!-- /div.row -->
                        </div>
                        <textarea placeholder="What are your discount Terms" class="form control form-control-sm col-12" name="discount_terms"></textarea>
                        <button class="btn btn-primary">Apply Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}