{% load static %}
    <!-- jquery
         ============================================ -->
    <script src="{% static 'userinterfacedesign/js/vendor/jquery-1.11.3.min.js ' %}"></script>
    <!-- bootstrap JS
         ============================================ -->
    <script src="{% static 'userinterfacedesign/js/bootstrap.min.js ' %}"></script>
    <!-- meanmenu JS
         ============================================ -->
    <script src="{% static 'userinterfacedesign/js/jquery.meanmenu.js ' %}"></script>
    <!-- sticky JS
         ============================================ -->
    <script src="{% static 'userinterfacedesign/js/jquery.sticky.js ' %}"></script>
    <!-- mCustomScrollbar JS
         ============================================ -->
    <script src="{% static 'userinterfacedesign/js/jquery.mCustomScrollbar.concat.min.js ' %}"></script>
    <!-- scrollUp JS
         ============================================ -->
    <script src="{% static 'userinterfacedesign/js/jquery.scrollUp.min.js ' %}"></script>
    <!-- main JS
         ============================================ -->
    <script src="{% static 'userinterfacedesign/js/main.js' %}"></script>
</body>

</html>