{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>GPTS Auth</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'landingpage/head.html' %}
</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">GPTS Authentication</a>
        {% if request.user.is_authenticated %}
        <div class="nav navbar-right text-light">
            <span>{{ user.username }} </span><a href="/Auth/logout">| Logout</a>
        </div>
        {% endif %}
    </nav>
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>