{% extends "supplier/base.html" %}

{% block content %}
<div class="row col-12 justify-content-center mt-5">
  <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-success">
                    <strong>Your password has been set. </strong>
                </div>
              <p>
                You may now go ahead and <a href="{% url 'supplier:user_login' %}">Login</a> using your new password.
              </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}