{% extends "supplier/base.html" %}

{% block content %}
<div class="row col-12 justify-content-center mt-5">
  <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-body">
                {% if message %}
                    <div class="alert alert-success">
                        <strong>Congratulations. </strong>
                    </div>
                    <p>
                        Your password has been set, You can now <a href="{% url 'supplier:user_login' %}">Login with your email and password.</a>
                    </p>
                {% else %}
                    <div class="alert alert-danger">
                        <strong>Oops !!. </strong>
                    </div>
                    <p>
                        {{ error }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}